parameters:
    level: 4
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::(get|set|uns|has)[A-Z]#'
        - '#Using \$this outside a class#'
    fileExtensions:
        - php
        - phtml

includes:
    - /var/lib/jenkins/.composer/vendor/fooman/phpstan-magento2-magic-methods/extension.neon