<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * routes.xml
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="candela_ordercomment" frontName="candela_ordercomment">
            <module name="Candela_OrderComment" />
        </route>
    </router>
</config>
