<?xml version="1.0"?>
<!--
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Candela\Blog\Model\Import\ImportProcess">
        <arguments>
            <argument name="imports" xsi:type="array">
                <item name="wordpress" xsi:type="object">Candela\Blog\Model\Import\WordPress</item>
            </argument>
        </arguments>
    </type>
</config>
